.btn {
  margin: 10px 10px;
  padding: 5px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  // font-weight: bold;
  &:hover {
    cursor: pointer;
  }

  &__add-to-card {
    background-color: rgb(241, 76, 34);
  }
  &__added-to-card {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
  }
}
