.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  margin: 10px 10px;
  padding: 10px 5px;
  border: 1px solid #083074;
  border-radius: 5px;
}



.product-activity {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-wrapper {
  position: relative;
  padding: 36% 15%;
  
}


.product-img {
  position: absolute;
  left: 8%;
  top: 0;
  height: auto;
  width: 180px;
}
